@model IEnumerable<SwapShop.Models.ApplicationUser>

@{
    ViewData["Title"] = "Index";
}

<h1>Community</h1>




        @foreach (var item in Model)

        {
<div class="flex-wrap" style="flex-direction:column; display:inline-flex">
    <div class="card text-white bg-info m-3" style="max-width: 20rem; align-content:center; text-align: center">

        <a href="@Url.Action("Details", "Users",  new { Id = item.Id })">
            <img src="~/images/@item.ImagePath" , style="width: 20em; height: auto;">
        </a>
        <br />
        <a href="@Url.Action("Details", "Users",  new { Id = item.Id })">
            @Html.DisplayFor(modelItem => item.TagName)
        </a>
    </div>
</div>
    }
