@model SwapShop.Models.Trade

@{
    ViewData["Title"] = "Deny";
}

@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager

<h1>Delete</h1>

    <h3>Would you like to delete your trade with @Model.Receiver.TagName?</h3>
    <form asp-action="CancelTrade" asp-route-for="@Model.TradeId">
        <input type="hidden" asp-for="@Model.TradeId" />
        <input type="submit" value="Yes" class="btn btn-danger" /> |
    </form>


    <a href='@Url.Action("Trade", "Trades")?receiverId=@Model.ReceiverId.ToString()&senderId=@Model.SenderId.ToString()&tradeId=@Model.TradeId'>No, I would like to edit my trade items</a>

<div>

</div>
