@model IEnumerable<BackendCapstone.Models.ApplicationUser>

@{
    ViewData["Title"] = "Index";
}

<h1>Community</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TagName)
            </th>
    </thead>
    <tbody>
        @foreach (var item in Model)

        {
            <tr>
        <td>
            <a href="@Url.Action("Details", "Users",  new { Id = item.Id })">
                @Html.DisplayFor(modelItem => item.TagName)
            </a>
        </td>

        </tr>
    }
        </tbody>
    </table>
